<div class="contentPane">
  <div class="contentTitle adipocyteImage">
    <span class="adipocyteTitle">
      Edit Adipocyte
    </span>
  </div><!--.contentTitle-->
  <div class="contentBody">
    <%= render 'form' %>
  </div><!--.contentBody-->
</div><!--contentPane-->

