.adipocyteImage {
  background-image: url("../images/adipocyte_52.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: right: 4px;
}
.adipocyteInfoBorder {
  border-radius: 7px;
  border: 1px solid #eee9bf;
  margin: 7px 5px;
  padding: 7px;
}
.adipocyteTitle { margin-left: 25px; }
.adipocyteInfo .basicInfo {
  border-radius: 7px;
  border: 1px solid #eee9bf;
  margin: 7px 5px;
  padding: 7px;
}
.adipocyteInfo .basicInfo table th {
  color: #757575;
  font-weight: normal;
  font-size: normal;
}
.adipocyteInfo .adipocyteFeatures #votes {
  border-radius: 7px;
  border: 1px solid #eee9bf;
  margin: 7px 5px;
  padding: 7px;
  color: #71c671;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
  padding: 45px 5px 5px 22px;
}
.adipocyteInfo .adipocyteFeatures #tags {
  border-radius: 7px;
  border: 1px solid #eee9bf;
  margin: 7px 5px;
  padding: 7px;
  padding: 10px;
  min-height: 35px;
}
.adipocyteInfo .adipocyteFeatures #tags .tag {
  float: left;
  border: 1px solid #a6a6a6;
  background-color: #c5e3bf;
  margin: 5px;
  border-radius: 5px;
  padding: 1px;
}
.adipocyteInfo .adipocyteContent {
  border-radius: 7px;
  border: 1px solid #eee9bf;
  margin: 7px 5px;
  padding: 7px;
}
.adipocyteInfo .adipocyteActions {
  border-radius: 7px;
  border: 1px solid #eee9bf;
  margin: 7px 5px;
  padding: 7px;
}
.votesImage {
  background-image: url("../images/thumbsUp_70.png");
  background-repeat: no-repeat;
}
.adipocyteForm div.formField { margin: 17px 7px; }
.adipocyteForm div.formField input { width: 96%; }
.adipocyteForm div.formField textarea { width: 96%; }
.adipocyteForm div.actions { margin: 8px 0px 12px 65%; }
.adipocyteForm hr {
  width: 96%;
  color: #e0dfdb;
  background-color: #e0dfdb;
}
