@import "definitions.less";

.adipocyteImage
{
  background-image: url("../images/adipocyte_52.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: right: 4px;
}

.postitImage
{
  background-image: url("../images/postit_40.png");
  background-repeat: no-repeat;
  background-position: center;
}

.adipocyteInfoBorder
{
  border-radius: 7px;
  border: 1px solid @colorLemonChiffon;
  margin: 7px 5px;
  padding: 7px;
}

.adipocyteTitle
{
  margin-left: 25px;
}

.adipocyteInfo
{
  .basicInfo
  {
    .adipocyteInfoBorder;
  
    table
    {
      th
      {
        color: @colorDarkGray;
        font-weight: normal;
        font-size: normal; 
      }
    }
  }
  .adipocyteFeatures
  { 
    #votes
    {
      .adipocyteInfoBorder;
      
      color: @colorVeryBrightGreen;
      font-weight: bold;
      cursor: pointer;
      font-size: 10px;      
      padding: 45px 5px 5px 22px;
    }
    
    #tags
    {
      .adipocyteInfoBorder;


      padding: 10px; 
      min-height: 35px; //FIXME: Lousy way of doing it
      .tag
      {
        float: left;
        border: 1px solid @colorMidGray;
        background-color: @colorMintIceCream;
        margin: 5px;
        border-radius: 5px;
        padding: 1px;
      }
    }
  }
  
  .adipocyteContent
  {
    .adipocyteInfoBorder; 
  }

  .adipocyteActions
  {
    .adipocyteInfoBorder;
  }

  .adipocyteComments
  {
    .adipocyteInfoBorder; 
    
    .commentDivHeading
    {
      margin: 0 0px 12px 0px;
      color: @colorDarkGray;
      font-size: 14px;
    }
  }
}

.votesImage
{
  background-image:url("../images/thumbsUp_70.png");
  background-repeat: no-repeat;
}

.adipocyteForm, .commentForm
{
  div.formField
  {
    margin: 17px 7px;

    input, textarea
    {
      width: 96%;
    }

    textarea
    {
      height: 250px;
    }
  }

  div.actions
  {
    margin: 8px 0px 12px 65%;
 
    input
    {
    }
  }

  hr
  {
    width: 96%;
    color: @colorStainlessSteel;
    background-color:@colorStainlessSteel;
  }
}

table#commentsTable
{
  tbody
  {
    tr.commentsRow
    {      
      td
      {
        padding: 10px;
        color: @colorBlack;
      }

      td.commentsCommentId
      {
        padding-top: 5%;
        font-weight: bold;
        color: @colorDarkGray;        
      }

      td.commentsComment
      {        
        .commentsCommenter
        {
          color: @colorDarkBrown;
        }
      
        .commentsCreated
        {
          font-size: 10px;
          color: @colorDarkGreen;
        }
      }
    }
  }
}

.newCommentModal
{
}


