.dimNote {
  text-align: center;
  color: #a6a6a6;
  font-weight: bold;
}
#custom-doc {
  min-height: 600px;
  margin: auto;
  border: 1px solid #e0dfdb;
}
body { margin: 2% 20%; }
body #bodyContent { width: 100%; }
body #bodyContent #recentViews { padding: 10px 15px; }
body #bodyContent #recentViews span#heading { color: #555555; }
body #bodyContent #recentViews span { color: #757575; }
body #header {
  width: 100%;
  cursor: pointer;
}
body #header #headerTitle {
  font-size: 18px;
  font-weight: bolder;
  margin: 0px 0px 5px 20px;
}
body #header #headerImage {
  height: 60px;
  background-image: url("../images/adipose_70.png");
  background-repeat: no-repeat;
  background-position: 3% 50%;
}
body #header #headerTop {
  height: 8px;
  border-top: 1px solid #ffffaa;
  border-bottom: 1px solid #ffffaa;
  background-color: #ffffe0;
}
body #header #headerBottom {
  height: 20px;
  border-bottom: 1px solid #ffffaa;
  border-top: 1px solid #ffffaa;
  background-color: #ffffe0;
  padding: 0;
}
body #header #headerBottom #options { float: right; }
body #header #headerBottom #options span {
  padding: 5px 12px;
  border-right: 1px solid #a6a6a6;
  cursor: pointer;
}
body #header #headerBottom #options span#last { border-right: none; }
body #menu {
  float: left;
  width: 200px;
  height: auto;
}
body #menu ul li {
  margin: 10px 0px 10px 25px;
  font-size: 12px;
  cursor: pointer;
}
body #menu ul li a {
  color: #555555;
  text-decoration: none;
  background-color: none;
}
body #menu ul li a:hover { color: black; }
body #menu ul li input {
  border: 1px solid #757575;
  width: 135px;
  height: 20px;
  border-radius: 5px;
  color: #a6a6a6;
  padding: 0 3px;
}
body #menu ul li.menuItem {
  padding: 8px 0px 8px 40px;
  background-color: #ffffaa;
  font-size: 14px;
  border-left: 2px solid #e0dfdb;
  border-top: 2px solid #e0dfdb;
  border-bottom: 2px solid #e0dfdb;
  margin: 10px 0px;
  border-radius: 5px 0 0px 5px;
}
body #menu #quickAdd li.image {
  background-image: url("../images/add_24.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
body #menu #quickSearch li.image {
  background-image: url("../images/magnifyingGlass_24.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
body #menu #quickTools li.image {
  background-image: url("../images/imgres_24.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
body #body {
  float: left;
  width: 550px;
  height: auto;
  background-color: #ffffe0;
  border-left: 3px solid #e0dfdb;
}
body #footer { text-align: center; }
body .enabled { color: #555555; }
body .disabled { color: #a6a6a6; }
body .contentPane { margin: 5px; }
body .contentPane .contentTitle {
  background-color: #fffff0;
  padding: 10px 60px;
  margin: 5px;
  font-size: 18px;
  border: 1px solid #ffffe0;
}
body .contentPane .contentBody {
  background-color: white;
  padding: 5px;
  margin: 10px 5px;
  border: 1px solid #ffffe0;
  min-height: 600px;
}
body .contentPane .dimNoteMedium {
  text-align: center;
  color: #a6a6a6;
  font-weight: bold;
  font-size: 14px;
}
.formField label { color: #757575; }
.formField input {
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: 5px;
}
.formField textarea {
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: 5px;
}
.formField input:focus { border: 2px solid #757575; }
.formField textarea:focus { border: 2px solid #757575; }
.confirmImage {
  background-image: url("../images/confirm.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 50px;
}
