.newAdipocytesImage {
  background-image: url("../images/newAdipocytes_52.png");
  background-repeat: no-repeat;
  border-radius: 5px;
}
#newAdipocytesOptions_optionId { margin: 10px; }
table.searchResults {
  width: 97%;
  margin: 2px 5px 2px 5px;
  cursor: pointer;
}
table.searchResults tr:hover { background-color: #ffffe0; }
table.searchResults tr { border-bottom: 1px solid #e0dfdb; }
table.searchResults tr th {
  text-align: left;
  background-color: #eee9bf;
  padding: 5px;
}
table.searchResults tr td { padding: 10px; }
table.searchResults tr .votesSummary {
  background-image: url("../images/thumbsUp_small.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 20px;
}
table.searchResults tr .votesGreen {
  color: #71c671;
  font-weight: bold;
}
