<!DOCTYPE html>
<html>
<head>
  <title>Adipose</title>
  <link type="text/css" href="/stylesheets/jquery-ui/development-bundle/themes/base/jquery.ui.all.css" rel="Stylesheet" /> 
  <link type="text/css" href="/stylesheets/jquery-ui/css/smoothness/jquery-ui-1.8.6.custom.css" rel="Stylesheet" /> 
  <script type="text/javascript" src="/javascripts/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/js/jquery-ui-1.8.6.custom.min.js"></script>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div id="headerTop">
    </div>
    <div id="headerImage">
    </div>
    <div id="headerTitle">
      Adipose
    </div>
    <div id="headerBottom">
      <span id="options">
        <span id="first">  
          Home
        </span>
        <span id="last">
          Logout
        </span>
      </span>
    </div>
  </div>
  <div id="bodyContent">
    <div id="recentViews">
      <span id="heading">
        Recent Views:
      </span>
    </div>
    <div id="menu">
      <ul id="quickAdd"> 
        <li class="menuItem image">
          Add
        </li>
        <li>
          <%= link_to 'New Adipocyte', new_adipocyte_path %>
        </li>
      </ul>
      <ul id="quickSearch"> 
        <% form_tag(
          {:controller =>"search", :action => "wtf"}, :id => "quickSearchForm") do %>
          <li class="menuItem image">
            Search
          </li>
          <li>
            <input 
              type="text" 
              value="Subject Contains" 
              name="subject" 
              id="quickSearchSubject"/>
          </li>
          <li>
            <input type="text" value="Username" name="user" id="quickSearchUser"/>
          </li>
        <% end %>
      </ul>
      <ul id="quickTools"> 
        <li class="menuItem image">
          Tools
        </li>
        <li>
          Edit Settings
        </li>
        <li>
          Add User
        </li>
      </ul>
    </div><!--#menu-->
    <div id="body">
    
      <%= yield %>

    </div><!--#body-->
  </div><!--#bodyContent-->
  <div id="footer">
    &copy; Adipose 2010
  </div>
  <script type="text/javascript">
    function submitQuickSearchForm()
    {
     var keycode;
     if (window.event) 
       keyCode = window.event.keyCode;
     if( keyCode == 13)
       $("#quickSearchForm").submit();
    }
 
    $(document).ready(function()
    {
      $("#quickSearchSubject").keypress(function()
      {
        submitQuickSearchForm();
      });

      $("#quickSearchUser").keypress(function()
      { 
        submitQuickSearchForm();
      });

      $("#quickSearchSubject").focus(function()
      {
        $(this).attr('value','');
      });

      $("#quickSearchUser").focus(function()
      {
        $(this).attr('value','');
      });

      $("#quickSearchSubject").blur(function()
      {
        if($.trim($(this).attr('value')) == "")
          $(this).attr('value','Subject Contains');
      });

      $("#quickSearchUser").blur(function()
      {
        if($.trim($(this).attr('value')) == "")
          $(this).attr('value','Username');
      });
    });
  </script>
</body>
</html>
